body{
  font: 15px/2 Papyrus, fantasy;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}
.container{
  width: auto;
  margin: auto;
  overflow-x: hidden;
}
ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  background: #361108;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}
header a{
  color: #CA622E;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
header li{
  float: left;
  display: inline;
  padding: 0 10px 0 12px;
}
header #header{
  float: left;
  
}
header #header h1{
  margin-left: 20px;
  display: inline;
}
header nav{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
header .highlight, header .current a{
  color: #CA622E;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Banner */
#banner {
  min-height: 500px;
  background:url('../images/banner8.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #B1AFAF;
 
}
#banner h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#banner p{
  font-size: 25px;
}


#boxes{
  margin-top: 5px;
 }


#boxes .box{
  float:left;
  text-align: center;
  width: 45%;
  padding: 20px;
  font-size: 20px;
}

#faqs {
  margin-top: 5px;
}

#faqs .faq{
  display: block;
  text-align:justify;
  width: 75%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#faqs h2{
  text-align:center;
}

#events {
  margin-top: 5px;
}

#events .event{
  display: block;
  text-align:center;
  width: 75%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}



 
#aboutus {
  margin-top: 5px;
}

#aboutus .about{
  display: block;
  text-align:center;
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#footer{
  padding: 20px;
  color: #ffffff;
  background-color: #361108;
  text-align: center;
  position:absolute;
  width:97%;
    
}


@media(max-width: 768px){
  header #header,
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
}

  header{
    padding-bottom: 20px;
    width: 100%;
  }

  #banner h1{
    margin-top: 40px;
  }

}

/* social media icons*/






 .icon,
 ul{
    list-style-type: none;
    text-align: center;
    display: block;  
    
  }

.icon li{
    display:inline-block;
     
   
}




/* others */

.column {
  float: left;
  width: 31%;
  padding: 15px;
  font-size:20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}  


/* Images and Icon Ref */
<a href="https://icons8.com/icon/nTrzI-jC_E2_/hedgehog">Hedgehog icon by Icons8</a>
<a href="https://icons8.com/icon/XCXKorMG85Tb/cat-butt">Cat Butt icon by Icons8</a>
<a href="https://icons8.com/icon/20903/corgi">Corgi icon by Icons8</a>
<a href="https://icons8.com/icon/118501/facebook">Facebook icon by Icons8</a>
<a href="https://icons8.com/icon/43625/instagram">Instagram icon by Icons8</a>
<a href="https://icons8.com/icon/44055/twitter-circled">Twitter Circled icon by Icons8</a>
<a href="https://icons8.com/icon/44034/phone">Phone icon by Icons8</a>
<a href="https://icons8.com/icon/50919/paypal">PayPal icon by Icons8</a>
<a href="https://icons8.com/icon/ukRbaAOR2DVX/volunteering">Volunteering icon by Icons8</a>
<a href="https://icons8.com/icon/50918/visa">Visa icon by Icons8</a>
<a href="https://icons8.com/icon/50916/mastercard">MasterCard icon by Icons8</a>
<a href="https://icons8.com/icon/50922/american-express">American Express icon by Icons8</a>
<a href="https://icons8.com/icon/50920/discover">Discover icon by Icons8</a>
<a href="https://icons8.com/icon/44787/check-book">Check Book icon by Icons8</a>
<a href="https://icons8.com/icon/71121/stack-of-money">Stack of Money icon by Icons8</a>
<a href="https://icons8.com/icon/48305/faq">FAQ icon by Icons8</a>
<a href="https://icons8.com/icon/43969/about">About icon by Icons8</a>
Image by <a href="https://pixabay.com/users/webandi-1460261/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2068462">Andreas Lischka</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2068462">Pixabay</a>
Image by <a href="https://pixabay.com/users/Jahhoo-1418773/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1208013">Janusz M</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1208013">Pixabay</a>
Image by <a href="https://pixabay.com/users/TaniaVdB-54472/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=408808">Tania Van den Berghen</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=408808">Pixabay</a>
Image by <a href="https://pixabay.com/users/amayaeguizabal-151412/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=468228">Amaya Eguizábal</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=468228">Pixabay</a>
Image by <a href="https://pixabay.com/users/bluepaints-4790618/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4676188">bluepaints</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4676188">Pixabay</a>
Image by <a href="https://pixabay.com/users/echels-534609/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=504658">Sean Echelbarger</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=504658">Pixabay</a>
Image by <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=801826">Free-Photos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=801826">Pixabay</a>
Image by <a href="https://pixabay.com/users/dillondygert-12685473/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4252274">dillondygert</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4252274">Pixabay</a>
Image by <a href="https://pixabay.com/users/XYLA-1259767/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1833602">XYLA</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1833602">Pixabay</a>

